<% if obj.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(obj.errors.count, "error") %>.
    </div>
    <ol>
      <% obj.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger"><%= msg %></li>
      <% end %>
    </ol>
  </div>
<% end %>
