<li role="presentation"> <%= link_to "Newest", questions_path(tag: :newest), class: "active" %></li>
<li role="presentation"> <%= link_to "Trending", questions_path(tag: :trending) %></li>
<li role="presentation"> <%= link_to "Unanswered", questions_path(tag: :unanswered) %></li>
<li role="presentation"> <%= link_to "All Questions", questions_path %></li>
