<script id="tag-template" type="text/template">
  <li class="tag">
    <div class="actions">
      <a href="#">{{name}}</a>
      <a href="#" class="remove-tag">x</a>
    </div>
    <input type="hidden" name="question_tags[]" value={{id}}/>
  </li>
</script>
