.wrapper {
    margin-bottom: 60px;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #E74C3C;

    .content {
        padding: 15px 0;
        a {
            text-decoration: none;
            color: #0fc;
        }
    }
}

.question {
    min-height: 70px;
    border-bottom: 1px solid #ddd;
    position: relative;

    .qa-content {
        padding: 25px 0;
    }

    .qa-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #555;
        font-style: italic;

        span {
            margin-right: 10px;
        }

        span:last-child {
            margin-right: 0px;
        }
    }
}

.tag {
    background-color: #9DC0DE;
    padding: 0 3px;
    display: inline-block;
}

.remove-tag {
    margin-left: 4px;
}

.alert-danger-message {
  background-color: #E97D39;
  display: inline-block;
  padding: 0 5px;
  color: #fff;
  font-weight: bold;
}
