<nav class="navbar navbar-default navbar-fixed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "StackOverflew", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="user-tracker"> <%= render 'layouts/user_tracker' %></li>
          <li> <%= link_to "Settings", "#" %> </li>
        <% else %>
          <li><%= link_to "SignIn with Github", "/auth/github" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
